.album-card {
  @apply cursor-pointer duration-200 flex flex-col p-4 relative rounded-md transition-colors w-full;
  &-data {
    @apply h-10 text-sm overflow-hidden text-ellipsis w-full z-10;
    display: -webkit-box;
    -webkit-line-clamp: 2;
    -webkit-box-orient: vertical;
    &-artist {
      @apply duration-200 transition-colors;
    }
  }
  &-fallback {
    @apply aspect-square flex justify-center items-center relative w-full;
  }
  &-image {
    @apply aspect-square relative w-full;
    & img {
      @apply absolute aspect-square left-0 object-cover rounded-md shadow-xl top-0 w-full;
    }
    &-play {
      @apply absolute bottom-0 duration-300 right-2 shadow-xl transform transition-all z-10;
    }
  }
  &-link {
    @apply absolute h-full left-0 top-0 w-full;
  }
  &-name {
    @apply font-semibold mb-2 mt-4 text-sm truncate;
  }
}
