.app-link {
  @apply decoration-inherit no-underline text-inherit;
  &:hover {
    @apply decoration-inherit no-underline text-inherit;
  }
  &:visited {
    @apply decoration-inherit no-underline text-inherit;
  }
}

.context-grid {
  @apply gap-2 grid grid-cols-1 pb-4;
  @apply lg:pb-8;
  @apply sm:gap-4 sm:grid-cols-3;
  @apply @2xl:grid-cols-4;
  @apply @4xl:grid-cols-5;
  @apply @6xl:grid-cols-6;
  @apply @8xl:gap-6 @8xl:grid-cols-7;
  @apply @10xl:grid-cols-8;
  @apply @12xl:grid-cols-9;
}

.no-highlight {
  -webkit-tap-highlight-color: transparent;
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -khtml-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

@media (hover: none) {
  .app-link {
    -webkit-tap-highlight-color: transparent;
    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
  }
}
